.navbar {
  justify-content: space-evenly;
  width: 100%;
}

.navbar-wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
  color: #0e3039;
}
.banner {
  /* font-family: 'Sacramento', cursive; */
  font-family: 'Amatic SC', cursive;
  /* border: 2px solid rebeccapurple; */
  font-size: 4rem;
  justify-self: center;
  align-self: center;
}

.icons {
  width: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  align-content: space-around;
}

.about,
.projects {
  justify-self: center;
  align-self: center;
  padding: 2px;
  text-decoration: none;
}
.about:hover {
  border-bottom: 2px solid #f08ed2;
}
.projects:hover {
  border-bottom: 2px solid #f08ed2;
}

.linkHome {
  text-decoration: none;
}

.menuWrapper {
  justify-self: center;
  align-self: center;
}
