.dot {
  max-width: 100px;
  max-height: 150px;
}

.home_wrapper {
  /* min-width: 130px; */
  /* border: 2px solid red; */
  max-width: 1000px;
  margin: auto;
  /* row-gap: 5rem; */
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 30% 40% 20%;
}

.dot_6 {
  grid-column-start: 3;
  grid-row-start: 3;
  max-width: 100px;
}

.dot_1 {
  grid-column-start: 1;
  grid-row-start: 4;
  max-width: 80px;
}

.dot_5 {
  grid-column-start: 5;
  grid-row-start: 1;
  max-width: 100px;
}

.dot_7 {
  grid-column-start: 4;
  grid-row-start: 2;
  max-width: 10px;
}

.dot_24 {
  grid-column-start: 1;
  grid-row-start: 2;
  max-width: 100px;
}
.dot_25 {
  grid-column-start: 4;
  grid-row-start: 3;
  justify-self: right;
  align-self: flex-end;
}
.dot_19 {
  grid-column-start: 2;
  grid-row-start: 3;
  max-width: 40%;
}
.dot_17 {
  grid-column-start: 5;
  grid-row-start: 4;
  max-width: 20%;
  justify-self: right;
  align-self: flex-end;
}
.dot_23 {
  grid-column-start: 3;
  grid-row-start: 3;
  max-width: 30%;
  justify-self: left;
  align-self: flex-end;
}
.dot_14 {
  grid-column-start: 4;
  grid-row-start: 2;
  max-width: 60%;
  justify-self: left;
  align-self: flex-end;
}
.dot_11 {
  grid-column-start: 4;
  grid-row-start: 4;
  max-width: 5%;
}
.dot_08 {
  grid-column-start: 5;
  grid-row-start: 1;
  max-width: 10%;
}
.dot_15 {
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: right;
  align-self: flex-end;
}
