.photoFour {
  background: linear-gradient(45deg, #c2d1c7, #c1c895);
}
.photoFive {
  background: linear-gradient(45deg, #c1c895, #c1c689);
}

.photo:hover {
  box-shadow: 0 52px 74px rgb(0 0 0/12%);
  transform: translate3d(0, -5px, 0);
}

.description {
  padding: 3em 3em 4em;
  align-self: center;
  justify-self: center;
}

.gitHubLink {
  align-self: center;
  justify-self: center;
}
.githubFinder {
  border-radius: 20px;
  /* background-image: linear-gradient(45deg, #e8f5c8, #9fa5d5);
      opacity: 0.9; */
  padding: 0em 3em 4em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.title {
  text-align: right;
  padding: 3em 3em 1em;
}

.githubFinderWebSite {
  text-decoration: underline2px #f08ed2;
}
p {
  font-family: 'Raleway', sans-serif;
}
