/* Global Styles */
:root {
  --primary-color: #a9d8c8;
  --dark-color: #1d4e89;
  --light-color: #e69ea1;
  --danger-color: #db4372;
  --success-color: #a9d8c8;
  --scuba-color: #dfba47;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  /* color: #333; */
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

@media (max-width: 700px) {
  .container,
  .container2,
  .wrapper {
    display: inline;
  }

  .App {
    text-align: center;
  }
}

/* Dots */
.dot_1 {
  max-width: 500px;
}

.dot_13 {
  max-width: 500px;
}
